#button1{
  display: inline-block;
  padding: 0.5em 2em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 10px #ff7c5c;/*左線*/
  color: #ff7c5c;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  top:300px;
}
#button1:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
  Change(0,0);
}

#button2{
  display: inline-block;
  padding: 0.5em 2em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 10px #00008b;/*左線*/
  color: #00008b;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  top:400px;
}
#button2:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
  Change(0,1);
}
#button3{
  display: inline-block;
  padding: 0.5em 2em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 10px #008b00;/*左線*/
  color: #00008b;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  top:500px;
}
#button3:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
  Change(0,2);
}
#button4{
  display: inline-block;
  padding: 0.5em 2em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 10px #8b0000;/*左線*/
  color: #00008b;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  top:600px;
}
#button4:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
  Change(1,3);
}
#button5{
  display: inline-block;
  padding: 0.5em 2em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 10px #08b8b0;/*左線*/
  color: #00008b;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  top:700px;
}
#button5:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
  Change(1,4);
}

.Button{
  position:absolute;
  left:700px;
}

/*文字の背景*/
.gauge_ttl {
     position :relative;left :23%;
     background-color: #000;
    width: 200px;
    padding-left: 5px;
    color: #FFF;
    font-size: 1.2rem;
}

 /*ゲージの表示(中身)*/
.gauge_main {
	width:10px;
    height: 30px;
	position :relative;left :23%;
	border:solid 5px;
    background: -webkit-gradient(linear, left top, right bottom, from(#00bfff), to(#00ff7f));
}

#logo{
	position:absolute;
	top:300px;
	left:250px;
}
#hito{
	position:absolute;
	top:500px;
	left:150px;
}
